---
layout: default
---
<div class="wrapper">
  <nav id="sidebar">
    <!-- Close Sidebar Button -->
    <div id="dismiss">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </div>

    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3>Collapsible Sidebar</div>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3 d-none d-lg-block">
        <div class="card my-3">
          <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/3328493?s=460&v=4" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Martin Groeneveld</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            Toggle Sidebar
          </button>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{ "/about/" | absolute_url }}">About</a></li>
            <li class="list-group-item"><a href="{{ "/articles/" | absolute_url }}">Articles</a></li>
            <li class="list-group-item"><a href="{{ "/contact/" | absolute_url }}">Contact</a></li>
          </ul>
        </div>
        {% if page.toc %}
        <div class="card my-3 sticky-top">
          <div class="card-header">Featured</div>
          {% include toc.html h_min=2 id='toc' sanitize=true class='list-unstyled' html=content %}
        </div>
        {% endif %}
      </div>
      <div class="col-lg-8 my-3">
        <h1 class="mt-0 pt-0 mb-3">{{ page.title }}</h1>
        {{ content }}
        {% if page.comments %}
        <h2>Comments</h2>
        <div id="disqus_thread"></div>
        <script>
          (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://groveld.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="overlay"><div>
</div>

{% include footer.html %}