html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  border-top: 7px solid #3498db;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: -1rem;
  padding-top: 1rem;
}

.sticky-top {
  top: 1em;
  font-size: 0.9rem;
}

#fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#fullscreen canvas {
  display: block;
}

#fullscreen .container {
  z-index: 1;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}





.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}

.overlay {
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}